---
import { useTranslations } from '../i18n/utils';
import type { Lang } from '../i18n/ui';

interface Props { lang?: Lang; }
const lang = Astro.props.lang ?? 'en';
const t = useTranslations(lang);

const techStack = [
  {
    name: 'React',
    color: '#61dafb',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 9.861A2.139 2.139 0 1 0 12 14.139 2.139 2.139 0 1 0 12 9.861zM6.008 16.255l-.472-.12C2.018 15.246 0 13.737 0 11.996s2.018-3.25 5.536-4.139l.472-.119.133.468a23.53 23.53 0 0 0 1.363 3.578l.101.213-.101.213a23.307 23.307 0 0 0-1.363 3.578l-.133.467zM5.317 8.95c-2.674.751-4.315 1.9-4.315 3.046 0 1.145 1.641 2.294 4.315 3.046a24.95 24.95 0 0 1 1.182-3.046A24.752 24.752 0 0 1 5.317 8.95zM17.992 16.255l-.133-.469a23.357 23.357 0 0 0-1.364-3.577l-.101-.213.101-.213a23.42 23.42 0 0 0 1.364-3.578l.133-.468.473.119c3.517.889 5.535 2.398 5.535 4.139s-2.018 3.25-5.535 4.139l-.473.12zm-.491-4.259c.48 1.039.877 2.06 1.182 3.046 2.675-.752 4.315-1.901 4.315-3.046 0-1.146-1.641-2.294-4.315-3.046a24.788 24.788 0 0 1-1.182 3.046zM5.31 8.345l-.133-.467C4.398 4.741 4.705 2.690 6.22 1.816c1.293-.748 3.135-.42 5.073 1.011l.38.275-.275.38a23.5 23.5 0 0 0-2.096 3.08l-.119.218-.252.023a23.365 23.365 0 0 0-3.579 1.363l-.042.179zm1.582-5.947c-.4 0-.74.08-1.016.24-1.024.592-1.241 2.453-.568 5.019a24.755 24.755 0 0 1 3.12-1.182 24.65 24.65 0 0 1 1.819-2.679c-1.239-.926-2.397-1.398-3.355-1.398zm10.868 5.948l-.468-.133a23.317 23.317 0 0 0-3.578-1.364l-.253-.023-.118-.218a23.512 23.512 0 0 0-2.096-3.08l-.275-.38.38-.275c1.938-1.432 3.78-1.76 5.073-1.012 1.514.875 1.821 2.926 1.043 6.063l-.133.467-.575.955zM14.583 8.167a24.749 24.749 0 0 1 3.12 1.182c.673-2.566.456-4.427-.568-5.019-1.015-.586-2.875-.052-4.371 1.158a24.647 24.647 0 0 1 1.819 2.679zM5.31 15.655l-.575-.955-.133-.467C3.823 11.096 4.13 9.045 5.644 8.17c1.293-.747 3.135-.42 5.073 1.012l.38.275-.275.38a23.362 23.362 0 0 0-2.096 3.08l-.119.217-.252.023a23.564 23.564 0 0 0-3.045 2.498zm-.049-6.627c-1.024.593-1.241 2.453-.568 5.019a24.788 24.788 0 0 1 3.12-1.182 24.653 24.653 0 0 1 1.819-2.679c-1.239-.926-2.397-1.398-3.355-1.398-.4 0-.74.08-1.016.24zm13.102 6.627a24.564 24.564 0 0 0-3.045-2.498l-.253-.023-.118-.217a23.512 23.512 0 0 0-2.096-3.08l-.275-.38.38-.275c1.938-1.432 3.78-1.759 5.073-1.012 1.515.876 1.822 2.927 1.043 6.064l-.134.467-.575.954zm-5.53-4.076a24.747 24.747 0 0 1 3.12 1.182c.673-2.566.456-4.427-.568-5.019-1.017-.586-2.877-.051-4.372 1.158a24.647 24.647 0 0 1 1.82 2.679zM8.145 22.184c-.87 0-1.665-.207-2.323-.598-1.514-.875-1.821-2.926-1.043-6.063l.133-.468.468.133a23.31 23.31 0 0 0 3.578 1.364l.253.023.118.218a23.503 23.503 0 0 0 2.096 3.08l.275.38-.38.275c-1.18.873-2.327 1.307-3.175 1.306zm-2.376-5.958c-.673 2.566-.456 4.427.568 5.019 1.012.584 2.874.051 4.372-1.159a24.647 24.647 0 0 1-1.819-2.679 24.748 24.748 0 0 1-3.121-1.181zm9.484 5.958c-.848.001-1.995-.433-3.175-1.306l-.38-.275.275-.38a23.503 23.503 0 0 0 2.096-3.08l.118-.218.253-.023a23.31 23.31 0 0 0 3.578-1.364l.468-.133.133.468c.778 3.137.471 5.188-1.043 6.063-.658.391-1.453.598-2.323.598zm3.946-5.959a24.757 24.757 0 0 1-3.121 1.182 24.647 24.647 0 0 1-1.819 2.679c1.498 1.21 3.36 1.743 4.372 1.159 1.024-.592 1.241-2.453.568-5.02z"/></svg>`,
  },
  {
    name: 'TypeScript',
    color: '#3178c6',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"/></svg>`,
  },
  {
    name: 'Go',
    color: '#00add8',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M1.811 10.715c-.047 0-.058-.023-.035-.059l.246-.315c.023-.035.081-.058.128-.058h4.172c.046 0 .058.035.035.07l-.199.303c-.023.036-.082.07-.117.07zM.047 11.79c-.047 0-.059-.023-.035-.058l.245-.316c.023-.035.082-.058.129-.058h5.328c.047 0 .058.035.035.07l-.093.28c-.012.047-.058.07-.105.07zm2.828 1.075c-.047 0-.059-.035-.035-.07l.163-.292c.023-.035.07-.07.117-.07h2.337c.047 0 .07.035.058.082l-.023.28c0 .047-.047.082-.082.082zm12.129-2.36c-.745.199-1.257.35-1.991.548-.18.047-.192.059-.351-.12-.18-.208-.315-.338-.57-.455-.76-.362-1.492-.257-2.178.175-.82.514-1.246 1.27-1.234 2.254.012.97.676 1.77 1.632 1.899.82.116 1.514-.175 2.06-.76.106-.128.198-.268.315-.432H10.47c-.245 0-.304-.152-.222-.35.152-.362.432-.966.596-1.27a.315.315 0 0 1 .292-.187h4.253c-.023.316-.023.631-.07.947a4.983 4.983 0 0 1-.958 2.29c-.841 1.11-1.94 1.8-3.33 1.993-1.144.163-2.204-.07-3.11-.803-1.168-.944-1.562-2.198-1.303-3.63.21-1.133.782-2.105 1.678-2.861 1.097-.921 2.394-1.316 3.784-1.222 1.005.07 1.92.386 2.69 1.018.515.422.9.94 1.145 1.539.083.21.176.339.339.454z"/></svg>`,
  },
  {
    name: 'Fiber',
    color: '#00add8',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 2.182c5.42 0 9.818 4.398 9.818 9.818S17.42 21.818 12 21.818 2.182 17.42 2.182 12 6.58 2.182 12 2.182zm0 1.636C7.396 3.818 3.818 7.396 3.818 12S7.396 20.182 12 20.182 20.182 16.604 20.182 12 16.604 3.818 12 3.818zm0 1.637c3.623 0 6.545 2.922 6.545 6.545S15.623 18.545 12 18.545 5.455 15.623 5.455 12 8.377 5.455 12 5.455z"/></svg>`,
  },
  {
    name: 'Docker',
    color: '#2496ed',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M13.983 11.078h2.119a.186.186 0 0 0 .186-.185V9.006a.186.186 0 0 0-.186-.186h-2.119a.185.185 0 0 0-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 0 0 .186-.186V3.574a.186.186 0 0 0-.186-.185h-2.118a.185.185 0 0 0-.185.185v1.888c0 .102.082.185.185.185m0 2.716h2.118a.187.187 0 0 0 .186-.186V6.29a.186.186 0 0 0-.186-.185h-2.118a.185.185 0 0 0-.185.185v1.887c0 .102.082.185.185.186m-2.93 0h2.12a.186.186 0 0 0 .184-.186V6.29a.185.185 0 0 0-.185-.185H8.1a.185.185 0 0 0-.185.185v1.887c0 .102.083.185.185.186m-2.964 0h2.119a.186.186 0 0 0 .185-.186V6.29a.185.185 0 0 0-.185-.185H5.136a.186.186 0 0 0-.186.185v1.887c0 .102.084.185.186.186m5.893 2.715h2.118a.186.186 0 0 0 .186-.185V9.006a.186.186 0 0 0-.186-.186h-2.118a.185.185 0 0 0-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 0 0 .184-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.185.185 0 0 0-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 0 0 .185-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.186.186 0 0 0-.186.186v1.887c0 .102.084.185.186.185m-2.92 0h2.12a.186.186 0 0 0 .184-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.185.185 0 0 0-.185.185v1.888c0 .102.083.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 0 0-.75.748 11.376 11.376 0 0 0 .692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 0 0 3.823-1.389c.98-.567 1.86-1.288 2.61-2.136 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288Z"/></svg>`,
  },
  {
    name: 'Kubernetes',
    color: '#326ce5',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 .793a1.59 1.59 0 0 0-.587.115L4.15 3.985a1.596 1.596 0 0 0-.985 1.218L2.02 13.6a1.595 1.595 0 0 0 .422 1.348l5.716 5.716a1.596 1.596 0 0 0 1.348.422l8.397-1.145a1.596 1.596 0 0 0 1.218-.985l3.077-7.263a1.595 1.595 0 0 0-.351-1.73L16.632 4.87a1.596 1.596 0 0 0-1.13-.468zm0 1.84a.87.87 0 0 1 .315.06l7.263 3.077a.87.87 0 0 1 .537.665l1.144 8.397a.87.87 0 0 1-.23.734l-5.716 5.716a.87.87 0 0 1-.734.23L6.182 20.37a.87.87 0 0 1-.665-.537L2.44 12.57a.87.87 0 0 1 .191-.945l5.822-5.822a.87.87 0 0 1 .617-.255zm-.062 2.447a.435.435 0 0 0-.427.37l-.23 1.693a3.477 3.477 0 0 0-1.573.652L8.18 6.898a.435.435 0 0 0-.573.083.435.435 0 0 0 .057.605l1.278 1.073a3.477 3.477 0 0 0-.5 1.704H6.75a.435.435 0 0 0-.435.435.435.435 0 0 0 .435.434h1.694a3.477 3.477 0 0 0 .651 1.573L7.8 13.094a.435.435 0 0 0-.083.573.435.435 0 0 0 .605.057l1.278-1.073a3.477 3.477 0 0 0 1.704.5v1.692a.435.435 0 0 0 .434.435.435.435 0 0 0 .435-.435v-1.693a3.477 3.477 0 0 0 1.573-.651l1.276 1.073a.435.435 0 0 0 .573-.083.435.435 0 0 0-.057-.605l-1.073-1.277a3.477 3.477 0 0 0 .5-1.704h1.692a.435.435 0 0 0 .435-.434.435.435 0 0 0-.435-.435h-1.693a3.477 3.477 0 0 0-.652-1.573l1.074-1.278a.435.435 0 0 0-.083-.573.435.435 0 0 0-.605.057L13.8 8.659a3.477 3.477 0 0 0-1.704-.5V6.467a.435.435 0 0 0-.158-.334.435.435 0 0 0-.277-.053zm.062 3.68a1.738 1.738 0 0 1 1.739 1.738A1.738 1.738 0 0 1 12 12.237a1.738 1.738 0 0 1-1.739-1.739A1.738 1.738 0 0 1 12 8.76z"/></svg>`,
  },
  {
    name: 'NATS',
    color: '#27aae1',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm5.562 7.469l-5.25 5.25-1.06-1.061 5.25-5.25 1.06 1.061zM8.156 8.156l-1.06-1.06 1.06 1.06zm-1.5 7.688l5.25-5.25 1.06 1.061-5.25 5.25-1.06-1.061zm7.344 1.5l-1.06-1.06 1.06 1.06z"/></svg>`,
  },
  {
    name: 'SQLite',
    color: '#003b57',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M21.678.521C20.467-.269 18.815.09 17.03 1.5L16.5 1.96c-1.114-1.005-2.794-1.494-4.878-1.078-.07.014-7.193 1.578-7.193 1.578S-1.03 9.227.105 16.005c.413 2.458 1.55 4.065 2.89 4.376 1.18.264 2.42-.365 3.41-1.615.975 1.067 2.427 1.93 4.485 2.42.02.006 2.703.619 2.703.619L13.6 22c1.015.115 2.36-.01 3.44-.527.998 1.125 2.333 1.747 3.624 1.514 1.69-.305 2.994-2.08 3.329-4.614.666-5.03-2.178-13.71-2.315-14.042-.404-1.24-.794-2.415-1-3.81zm-6.283 15.5c.105 1.246-.217 2.266-.716 2.852L14.641 19c-.34.48-.718.775-1.094.786-.374.01-.613-.24-.707-.358-.27-.347-.468-.945-.364-2.253l.197-2.447c.046-.565-.014-1.08-.178-1.537l.01.011-.31-.715c.17-.035.35-.03.54.014.654.153 1.17.6 1.44 1.258l.222.571c.28.688.4 1.39.444 1.671l.354.048zm-5.4-.217c-.016-.018.005.009 0 0z"/></svg>`,
  },
  {
    name: 'Claude Code',
    color: '#c084fc',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>`,
  },
  {
    name: 'Astro',
    color: '#ff5d01',
    icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M16.074 16.86C15.354 17.476 13.898 17.89 12.224 17.89c-2.006 0-3.692-.625-4.343-1.485-.175.568-.212 1.254-.138 1.98.027.263.067.525.12.783.24.003.28 0 .52 0h7.238c.24 0 .48.003.52 0 .054-.258.094-.52.12-.783.074-.726.037-1.412-.138-1.98l-.05-.545zm-9.64-.52C6.197 15.558 5.842 14.11 5.965 12.76c.122-1.35.674-2.583 1.47-3.562.795-.98 1.794-1.757 2.89-2.204 1.097-.447 2.262-.547 3.38-.347 1.12.2 2.16.7 2.94 1.43.78.73 1.33 1.68 1.54 2.74.21 1.06.07 2.2-.42 3.2-.49 1.01-1.3 1.86-2.29 2.43-.99.57-2.16.84-3.32.77-1.16-.07-2.29-.47-3.2-1.13l-.54.46zm5.26-11.85c.3-.41.7-.75 1.18-.99.48-.24 1.02-.37 1.56-.38.55-.01 1.09.11 1.58.35.49.24.9.59 1.22 1.02.31.43.51.93.59 1.46.08.53.04 1.07-.11 1.58-.15.51-.42.98-.79 1.37-.37.39-.83.69-1.34.87-.51.18-1.06.23-1.6.14l.23-.23c.38-.38.62-.87.7-1.4.08-.52.01-1.06-.2-1.54-.21-.48-.55-.9-.99-1.2-.44-.3-.96-.47-1.49-.49l-.54-.56z"/></svg>`,
  },
];
---

<section id="tech-stack" class="py-24 sm:py-32" style="background: linear-gradient(180deg, #0a0f1e 0%, #0f172a 50%, #0a0f1e 100%);">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Header -->
    <div class="text-center mb-16">
      <span class="text-xs font-semibold tracking-widest uppercase text-blue-400 mb-4 block">{t('techStack.label')}</span>
      <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-white mb-4">
        {t('techStack.heading')} <span class="gradient-text">{t('techStack.headingGradient')}</span>
      </h2>
      <p class="text-lg text-slate-400 max-w-2xl mx-auto">
        {t('techStack.subtitle')}
      </p>
    </div>

    <!-- Tech grid -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4">
      {techStack.map((tech) => (
        <div class="group flex flex-col items-center gap-3 p-5 rounded-xl border border-slate-800 bg-slate-900/40 hover:bg-slate-900 hover:border-slate-700 transition-all duration-300">
          <div
            class="w-10 h-10 transition-transform duration-300 group-hover:scale-110"
            style={`color: ${tech.color};`}
          >
            <Fragment set:html={tech.icon} />
          </div>
          <span class="text-slate-400 group-hover:text-slate-200 text-sm font-medium text-center transition-colors duration-200">{tech.name}</span>
        </div>
      ))}
    </div>
  </div>
</section>
